body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    margin: 2px;
    // color: #e6e7ec;
}
.search-items {
    margin-bottom: 15px;
    display: inline-block;
    width: 200px;
    height: 27px;
    padding: 2px;
    margin-left: 9px;
}
.order-food-container {
    display: flex;
    padding: 10px;
    flex-direction: column;
}
.order-food-wrapper {
    display: flex;
}
.food-order-app {
    padding: 30px;
}
.food-cart-title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 15px;
}
.food-order-cart {
    margin-bottom: 30px;
    // margin-left: 20px;
    width: 160px;
    cursor: pointer;
    padding: 4px;
    border: 1px solid #00b38e;
    box-shadow: 0 2px 4px 0 rgba(128, 128, 128, 0.3);
}
aside {
    width: 175px;
    margin-right: 15px;
}
.success {
    color: #4ed64e;
    font-size: 15px;
    font-weight: 600;
    font-style: italic;
}
